
{{#each this.stars as |star index|}}
  <button class="rr-rating-star" {{on "click" (fn this.setRating (add index 1)) }}>
    {{#if star}}
      {{fa-icon "star"}}
    {{else}}
      {{fa-icon "star-o"}}
    {{/if}}
  </button>
{{/each}}